@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@import './styles/buttons.css';
@import './styles/cards.css';
@import './styles/lists.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-scheme: light dark;
}

@layer base {
	* {
		@apply border-neutral-200/70 dark:border-white/5;
	}
}

.hover-bg {
	@apply hover:bg-neutral-200/70 dark:hover:bg-[#21262d];
}

.icon-sm {
	@apply h-5 w-5;
}
