@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@import './styles/buttons.css';
@import './styles/cards.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-scheme: light dark;
}

.icon-sm {
	@apply h-5 w-5;
}
