@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@import './styles/buttons.css';
@import './styles/cards.css';
@import './styles/lists.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--color-primary: oklch(75% 0.183 55.934);
}

@theme {
	--color-scheme: light dark;
}

@layer base {
	* {
		@apply border-neutral-200/70 dark:border-white/5;
	}
}

.text-primary {
	@apply text-orange-400;
}

.border-primary {
	@apply border-orange-400;
}

.hover-bg {
	@apply hover:bg-neutral-200/70 dark:hover:bg-[#21262d];
}

.icon-sm {
	@apply h-5 w-5;
}
